<%- include('./templates/head.ejs') %>
<body>  
    <script>
        // Go back two pages in the browser history after 5 seconds
        setTimeout(() => {
          history.go(-2);
        }, 3000); // 5000 milliseconds = 5 seconds
      </script>
    <div class="container mt-5">
        <div class="row justify-content-center">

        </div>
    </div>
</body>
</html>